{% extends "layout.html" %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css" media="screen">
card-container {
    position: relative;
}

.card {
    /*position: relative;*/
    /*     top: 50%;
    left: 50%; */
    /*     transform: translate(-50%,-50%); */
    width: 320px;
    height: 320px;
    background: #000;
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    transition: .5s;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
    /*100%*/
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    /*100%*/
    height: 100%;
    background: #334519;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.card .details .center h1 span {
    font-size: 14px;
    color: #404040;
}

.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #404040;
}

.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}

.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}

.card .details .center ul li a {
    display: block;
    background: #404040;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}

.card .details .center ul li a:hover {
    background: #ff3636;
}
</style>
{% endblock head %}
{% block content %}
<div class="container">
    <div class="display-2 text-center">Meet the Team</div>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-around p-5">
            <div class="card-container m-3">
                <div class="card">
                    <div class="image">
                        <img src="../static/img/bhanu.jpg" />
                    </div>
                    <div class="details">
                        <div class="center">
                            <h1>Someone famous<br><span>team leader</span></h1>
                            <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container m-3">
                <div class="card">
                    <div class="image">
                        <img src="../static/img/apurvax.jpg" />
                    </div>
                    <div class="details">
                        <div class="center">
                            <h1>Apurva Sharma<br><span>Data Scientist</span></h1>
                            <p>Deep Learning Enthusiast. Tensorflow | PyTorch</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container m-3">
                <div class="card">
                    <div class="image">
                        <img src="../static/img/aniket.jpg" />
                    </div>
                    <div class="details">
                        <div class="center">
                            <h1>Aniket Singh Rawat<br><span>Backend Developer</span></h1>
                            <p>Full Stack Javascript Developer.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container m-3">
                <div class="card">
                    <div class="image">
                        <img src="../static/img/dev.jpeg" />
                    </div>
                    <div class="details">
                        <div class="center">
                            <h1>Dev Sharma<br><span>Frontend Developer</span></h1>
                            <p>Frontend Javascript Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}