{% extends "layout.html" %}
{% block content %}
	<h1 id='welcome'></h1>
	
	<div id="selection" class="container-fluid text-center my-4 py-3">
		<button id="trained" class="btn bg-info text-white font-weight-bold " onclick="showInterface(this.id)">Use Trained Model</button>
		<button id="untrained" class="btn bg-dark text-white font-weight-bold " onclick="showInterface(this.id)">Train Your Own Model</button>	
	</div>
	

	<div id="trainedDiv" class="container-fluid border my-4 mx-0 py-3">
		<h4>Use A Trained Model</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ducimus aspernatur quibusdam, nihil asperiores. Id vel, nemo aliquam eius earum illo quas, quos dolores ad rem explicabo laborum quae consequuntur.</p>
		<br>
		<div class="container-fluid mx-0 border row">
			<div class="col-6 border my-4 py-3">
				<h4>Choose a Category</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates, natus assumenda sed sapiente! Optio consectetur excepturi, suscipit autem vero totam sequi, nemo repellat, et hic provident perspiciatis dolore dolor.</p>
				<br>
				<!-- all the categories -->
				<div class="text-center">
					<button id='category' onclick="showList(this.id)">Objects</button>
					<button id='instrument' onclick="showList(this.id)">Intruments</button>	
				</div>
				

				<div id='categoryList' class="my-3" style="height: 200px; overflow: auto">
				</div>

				<div id='instrumentList' class="my-3" style="height: 200px; overflow: auto">
					<ul id="instrumentListDiv"> 
						
					</ul>
				</div>

			</div>
			<div class="col-6 border my-4 py-3">
				<h4>Upload your Image</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat a eum aperiam illo quidem animi aliquam voluptate totam recusandae inventore amet eveniet, corporis molestias voluptatum qui sint, sit debitis libero.</p>
				<br>
				<input type="file" name="file">
			</div>
			
			<div class="col-12 my-2 py-2 text-center">
				<button class="btn bg-success text-white font-weight-bold" onclick="getResult()">Get Result</button>
			</div>

		</div>
	</div>


	<div id="untrainedDiv" class="container-fluid border my-4">
		<h4>Train Your Own Model</h4>
	</div>

<script type="text/javascript">

	document.getElementById('trainedDiv').style.display = 'block'
	document.getElementById('untrainedDiv').style.display = 'none'
	document.getElementById('categoryList').style.display = 'none'
	document.getElementById('instrumentList').style.display = 'none'
	var user = JSON.parse('{{ data |  safe }}')  
	document.getElementById('welcome').innerHTML = 'Welcome ' + user.name;
	
	//Add the categories
	var categories = ['person', 'bicycle', 'car', 'motorcycle', 'airplane', 'bus',
    'train', 'truck', 'boat', 'traffic light', 'fire hydrant',
    'stop sign', 'parking meter', 'bench', 'bird', 'cat', 'dog', 'horse',
    'sheep', 'cow', 'elephant', 'bear', 'zebra', 'giraffe', 'backpack',
    'umbrella', 'handbag', 'tie', 'suitcase', 'frisbee', 'skis',
    'snowboard', 'sports ball', 'kite', 'baseball bat', 'baseball glove',
    'skateboard', 'surfboard', 'tennis racket', 'bottle', 'wine glass',
    'cup', 'fork', 'knife', 'spoon', 'bowl', 'banana', 'apple', 'sandwich',
    'orange', 'broccoli', 'carrot', 'hot dog', 'pizza', 'donut', 'cake',
    'chair', 'couch', 'potted plant', 'bed', 'dining table', 'toilet', 'tv', 'laptop', 'mouse', 'remote', 'keyboard',
    'cell phone', 'microwave', 'oven', 'toaster', 'sink', 'refrigerator',
    'book', 'clock', 'vase', 'scissors', 'teddy bear', 'hair drier',
    'toothbrush', 'instruments']

    var instruments = ['Field_mounted_CF','Ball Value','Field Mounted_L','Diaphragm','Normally closed Ball value','Normally Closed Gate Value','Gate Value','Main Control Panel rear-Mounted SI','Main Control Panel front-Mounted SI','Globe value','Normally Closed Value','Field Mounted_DI','Rectangle','Two Value Gate way','Three Value Gate way','Main-control panelRear mounted_CF','MainControlPanel_DI']

    categories.sort()
	
    for(var i=0; i < categories.length; i+=1){
    	// var radio = '<input type="radio" id="'+categories[i]+'" name="Category" value="'+categories[i]+'">'
    	// var label = '<label for="'+categories[i]+'">'+categories[i]+'</label><br>'
    	$('#categoryList').append('<input type="radio" id="'+categories[i]+'" name="Category" value="'+categories[i]+'">')
    	$('#categoryList').append('<label for="'+categories[i]+'" class="font-weight-bold">'+ categories[i][0].toUpperCase() + categories[i].slice(1, categories[i].length)+'</label><br>')
    }

    for(var i=0;i<instruments.length; i+=1){
    	$('#instrumentListDiv').append('<li class="font-weight-bold">'+ instruments[i]+'</li>')
    }

	function showInterface(id){
		document.getElementById('trainedDiv').style.display = 'none'
		document.getElementById('untrainedDiv').style.display = 'none'
		document.getElementById(id+'Div').style.display = 'block'
		const selectorButtons = document.querySelectorAll('#selection button');
		for (var i = 0; i < selectorButtons.length; i++) {
			let curr = selectorButtons[i];
			if(curr.id == id) {
				curr.classList.remove('bg-dark');
				curr.classList.add('bg-info');
			} else {
				curr.classList.remove('bg-info');
				curr.classList.add('bg-dark');
			}
		}
	}

	function showList(id){
		document.getElementById('categoryList').style.display = 'none'
		document.getElementById('instrumentList').style.display = 'none'
		document.getElementById(id+'List').style.display = 'block'
	}

	function getResult(){
		//Send data to server using ajax
	}

</script>
{% endblock content %}