<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Annotation</title>
</head>
<style type="text/css" media="screen">

*{
    /*border: 1px dotted green;*/
}

#content {
    /*max-height: 80vh;*/

    overflow: scroll;
}
#zoom-controls {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    padding: 4px 8px;
}
.tag-head {
    font-size: 1.5rem;
    color: light-gray;
}

.tag-content {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    padding: 8px 10px;
    margin-bottom: 4px;

}

.muted-text {
    font-size: 0.75rem;
    color: rgba(120, 120, 120, 0.5);
}
</style>

<body>
    <h1 class="container text-center display-4 text-dark my-4">
        Annotate Here
        
    </h1>
    <div class="container border p-2">
        <h3>Instructions:</h3>
            <ol>
                <li>Use mouse pointer to draw boxes over objects</li>
                <li>Click and drag over image to create the box</li>
                <li>Add the image label in the <b>comment</b></li>
                <li>To edit, select or resize, select the annotation from the list on right side.</li>
                <li>To edit label, choose the annotation from the image and edit the comment</li>
                <li>Use the zoom controls to resize the image to make better selections</li>
                <li>After annotating, click on send button</li>
            </ol>            
        </div>
     <div class="container px-5 col-12 py-2 mx-4">
            <p> Zoom Controls</p>
                <button id="zoom-out" onclick="zoomIn()" class="btn btn-secondary">-</button>
                <button id="zoom-in" onclick="zoomOut()"class="btn btn-secondary">+</button>
    </div>
    <div class="container-fluid m-3 p-2 row">

        

        <div id="content" class="col-8 container p-2">
            <div >
                <img id="hallstatt" src="" height="100%" width="100%">
            </div>
            
        </div>

        

        <div class="col-4 p-4">
            <div id="box-list" class="content-section bg-dark p-2">
                <div class="tag-head"> <span class="text-light"> Annotations </span> </div>
            </div>
            <button class="btn btn-success col-12 my-3" onclick="sendToServer()">Send</button>
        </div>


        

    </div>

   
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.0.5/dist/annotorious.min.js"></script>
<script>
var res = JSON.parse('{{ res | safe }}');
console.log(res)

// var allAnnotations = []

document.getElementById('hallstatt').src = res.file;

const boxList = document.getElementById('box-list');

var anno;

function zoomOut(){
    console.log('zoom in')
    document.getElementById('hallstatt').height += document.getElementById('hallstatt').height*0.1
    document.getElementById('hallstatt').width += document.getElementById('hallstatt').width*0.1
}

function zoomIn(){
    console.log('zoom in')
    document.getElementById('hallstatt')
    document.getElementById('hallstatt').height -= document.getElementById('hallstatt').height*0.1
    document.getElementById('hallstatt').width -= document.getElementById('hallstatt').width*0.1
}

window.onload = () => {


    anno = Annotorious.init({
        image: 'hallstatt' // image element or ID
    });

    function renderAnno() {
    boxList.innerHTML = `<div class="tag-head"> <span class="text-light"> Annotations </span> </div>`;
        currentAnnotations = anno.getAnnotations();
        for (let i = 0; i < currentAnnotations.length; ++i) {
            let annotationEl = currentAnnotations[i];
            console.log(annotationEl.body[0].value);
            boxList.innerHTML += `<div class="tag-content bg-light mx-1 my-1"><div class="muted-text"> Comment ${i + 1}</div>${annotationEl.body[0].value}</div>`;
        }
    }

    // Add event handlers using .on  
    anno.on('createAnnotation', function(annotation) {
        // Do something
        // allAnnotations.push(annotation);
        renderAnno();
    });

    anno.on('deleteAnnotation', function(annotation) {
        renderAnno();     
    });

    anno.on('updateAnnotation', function(annotation, previous) {
        renderAnno();     
    });

}


const sendToServer = () => {
    console.log('Send To server')
    console.log(anno.getAnnotations())

    $.ajax({
        url: "{{ url_for('processData') }}",
        data: { 'data': anno.getAnnotations()},
        method: 'post',
        success: function(result) {
            console.log(result)
            alert('Data Saved to Cloud!')
            if(result == 'success'){
                //redirect to some page
            }
        }
    });
}
</script>

</html>