<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<a href="{{ url_for('main') }}"><button>Home</button></a><br>
	<form autocomplete="off" action="{{ url_for('handle_signup') }}" method="post">
		<input type="email" name="email" placeholder="email"  required="true"><br>
		<input type="text" name="name" placeholder="name" required="true"><br>
		<input type="password" name="password" placeholder="password" required="true"><br>
		<label>Remember me?</label>
		<input type="checkbox" name="remember"><br>
		<input type="submit" name="submit" value="sign up!">
	</form>
	<p>Have an account? <a href="{{ url_for('login') }}">Login</a></p>

</body>
</html>