{% extends "layout.html" %}
{% block head %}
<style type="text/css" media="screen">

</style>
{% endblock head %}
{% block content %}
<div class="container h-100">
	<div class="display-3 text-center m-4">
		Results
	</div>
	<div class="d-flex justify-content-center">
		<img src="../static/img/PeopleatDesk.png" class="img-fluid" />
	</div>
	<div class="d-flex flex-row align-items-center justify-content-center mt-3">
		<a href="" title="">
		<button class="btn btn-primary mx-2">
			Download Image
		</button>	
		</a>
		<a href="" title="">
		<button class="btn btn-secondary mx-2">
			Download CSV
		</button>	
		</a>
	</div>
	<div>
		<p class="muted-text">
			Want to specaialised object detection. <a href="{{ url_for('contact') }}">Contact Us</a> and we will train it for you!
		</p>
	</div>
</div>
{% endblock content %}